<!DOCTYPE html>
<html lang="en">
    <head>
		    
		<title>Advancement Tracker</title>
		    
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
	</head>

	<style>
		@font-face {
    		font-family: "Tiny5", sans-serif;
			font-weight: 400;
			font-style: normal;
		}

		body {
    		font-family: "Tiny5", sans-serif;
		}

		* {
    		font-family: inherit;
		}

		.view {
		  display: none;
		}
		.active {
		  display: block;
		}
		nav a {
		  margin-right: 10px;
		  cursor: pointer;
		  text-decoration: underline;
		  color: blue;
		}
	  </style>

	<body>
		    
		<div class="container">
			        
			<header class="header">
				            
				<nav
					class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
				>
					<a
						class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
					>
						<span class="fs-4">Advancement Tracker</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a onclick="showView('Minecraft')" class="nav-link">Minecraft</a>
						</li>
						<li class="nav-item">
							<a onclick="showView('Nether')" class="nav-link">Nether</a>
						</li>
						<li class="nav-item">
							<a onclick="showView('The End')" class="nav-link">The End</a>
						</li>
						<li class="nav-item">
							<a onclick="showView('Adventure')" class="nav-link">Adventure</a>
						</li>
						<li class="nav-item">
							<a onclick="showView('Husbandry')" class="nav-link">Husbandry</a>
						</li>
						<li class="nav-item">
							<a href="/signup" class="nav-link">Signup (leave for testing)</a>
						</li>
					</ul>
					                        
				</nav>
				
				           
			</header>
			<div class="p-5 mb-4 bg-light rounded-3">
				<div id="Minecraft" class="view active">
					<h1>Minecraft</h1>
					<p>This will feature content for the "Minecraft" tab.</p>
					<ul>
						{% for user in users %}
            				{% if user[2] == 1 %}
                				<li><strong>{{ user[1] }}</strong> (ID: {{ user[0] }})</li>
								<ul>
									<li>Description: {{ user[3] }}</li>
								</ul>
            				{% endif %}
        				{% endfor %}
					</ul>
				  </div>
				
				  <div id="Nether" class="view">
					<h1>Nether</h1>
					<p>This will feature content for the "Nether" tab.</p>
					<ul>
						{% for user in users %}
            				{% if user[2] == 2 %}
                				<li><strong>{{ user[1] }}</strong> (ID: {{ user[0] }})</li>
								<ul>
									<li>Description: {{ user[3] }}</li>
								</ul>
            				{% endif %}
        				{% endfor %}
					</ul>
				  </div>
				
				  <div id="The End" class="view">
					<h1>The End</h1>
					<p>This will feature content for the "The End" tab.</p>
					<ul>
						{% for user in users %}
            				{% if user[2] == 3 %}
                				<li><strong>{{ user[1] }}</strong> (ID: {{ user[0] }})</li>
								<ul>
									<li>Description: {{ user[3] }}</li>
								</ul>
            				{% endif %}
        				{% endfor %}
					</ul>
				  </div>
	
				  <div id="Adventure" class="view">
					<h1>Adventure</h1>
					<p>This will feature content for the "Adventure" tab.</p>
					<ul>
						{% for user in users %}
            				{% if user[2] == 4 %}
                				<li><strong>{{ user[1] }}</strong> (ID: {{ user[0] }})</li>
								<ul>
									<li>Description: {{ user[3] }}</li>
								</ul>
            				{% endif %}
        				{% endfor %}
					</ul>
				  </div>
	
				  <div id="Husbandry" class="view">
					<h1>Husbandry</h1>
					<p>This will feature content for the "Husbandry" tab.</p>
					<ul>
						{% for user in users %}
            				{% if user[2] == 5 %}
                				<li><strong>{{ user[1] }}</strong> (ID: {{ user[0] }})</li>
								<ul>
									<li>Description: {{ user[3] }}</li>
								</ul>
            				{% endif %}
        				{% endfor %}
					</ul>
				  </div>
			</div>
			        
			<footer class="footer">
				            
				<p>&copy; Advancements in Advancements, 2025</p>
				        
			</footer>
			    
		</div>
	</body>
	<script>
		function showView(viewId) {
		  // Hide all views
		  document.querySelectorAll('.view').forEach(view => {
			view.classList.remove('active');
		  });
	
		  // Show the selected view
		  document.getElementById(viewId).classList.add('active');
		}
	  </script>
</html>